extends layout

block content
  table.table.table-bordered
    tr
      th #
      - for (var i = 1; i < 5; i++)
        th #{pageData.names[i]}
    tr
      td 1
      td 4
      td 5
      td 5
      td Bon cours
