extends layout

block content
  table.table.table-bordered
    thead
      tr
        each question in feedbacks[0]
          th #{question}
    tbody
        each row, k in feedbacks
          if (k != 0)
            tr
              - for (var i = 0; i < row.length; i++)
                td #{row[i]}
