extends layout

block content
  #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne', class='glyphicon glyphicon-hand-right', aria-hidden='true')
            |  1A
      #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
        .panel-body
          .list-group
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSfzajEw7OTpoUOzT0X9mzLeUuiu8ZrVP3QzwYWB4YnTrwOx8w/viewform')
              span.glyphicon.glyphicon-baby-formula(aria-hidden='true')
              span Tronc commun
    .panel.panel-default
      #headingTwo.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo', class='glyphicon glyphicon-hand-right', aria-hidden='true')
            |  2A
      #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
        .panel-body
          ul.list-group
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSc4AJ1ZZhY8psFbbIXDdnuYNUb3xW82fvOt_MEo0eaFjZOSUw/viewform')
              span.glyphicon.glyphicon-stats(aria-hidden='true')
              span MMIS
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSff-o-KXDpNlFukBWvtVoZud8bvv0cH60K4xxI19gWGqV-w5Q/viewform')
              span.glyphicon.glyphicon-piggy-bank(aria-hidden='true')
              span IF
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSdzfuAhfAElgODtupj4sIRfdI8OzwxU8Ic2nNR1lQ3tEO_idw/viewform')
              span.glyphicon.glyphicon-globe(aria-hidden='true')
              span ISSC
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSerFldQTkdh53Vr5RdiwN8bt2jYHtVkRXHvWmOT671ZgOnykg/viewform')
              span.glyphicon.glyphicon-cloud(aria-hidden='true')
              span ISI
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSeHptwYGk7eu2HTCI_YNy5SOh0YIYMjv1qaKZszqUbKzkcnLg/viewform')
              span.glyphicon.glyphicon-plane(aria-hidden='true')
              span SLE
    .panel.panel-default
      #headingThree.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree', class='glyphicon glyphicon-hand-right', aria-hidden='true')
            |  3A
      #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
        .panel-body
          ul.list-group
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSc4AJ1ZZhY8psFbbIXDdnuYNUb3xW82fvOt_MEo0eaFjZOSUw/viewform')
              span.glyphicon.glyphicon-stats(aria-hidden='true')
              span MMIS
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSff-o-KXDpNlFukBWvtVoZud8bvv0cH60K4xxI19gWGqV-w5Q/viewform')
              span.glyphicon.glyphicon-piggy-bank(aria-hidden='true')
              span IF
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSdzfuAhfAElgODtupj4sIRfdI8OzwxU8Ic2nNR1lQ3tEO_idw/viewform')
              span.glyphicon.glyphicon-globe(aria-hidden='true')
              span ISSC
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSerFldQTkdh53Vr5RdiwN8bt2jYHtVkRXHvWmOT671ZgOnykg/viewform')
              span.glyphicon.glyphicon-cloud(aria-hidden='true')
              span ISI
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSeHptwYGk7eu2HTCI_YNy5SOh0YIYMjv1qaKZszqUbKzkcnLg/viewform')
              span.glyphicon.glyphicon-plane(aria-hidden='true')
              span SLE
