extends layout

block content
  #accordion.panel-group(role='tablist', aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne', class='glyphicon glyphicon-hand-right', aria-hidden='true')
            |  1A
      #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
        .panel-body
          .list-group
            li.list-group-item
              span.glyphicon.glyphicon-baby-formula(aria-hidden='true')
              span Tronc commun
    .panel.panel-default
      #headingTwo.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo', class='glyphicon glyphicon-hand-right', aria-hidden='true')
            |  2A
      #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
        .panel-body
          ul.list-group
            a.list-group-item(href='https://docs.google.com/forms/d/e/1FAIpQLSeCZ2rRZczgNsURX-Gmd0hAVTOqDCRto9rbg30qXwa-8xf8KQ/viewform')
              span.glyphicon.glyphicon-stats(aria-hidden='true')
              span MMIS
            li.list-group-item
              span.glyphicon.glyphicon-piggy-bank(aria-hidden='true')
              span IF
            li.list-group-item
              span.glyphicon.glyphicon-globe(aria-hidden='true')
              span ISSC
            li.list-group-item
              span.glyphicon.glyphicon-cloud(aria-hidden='true')
              span ISI
            li.list-group-item
              span.glyphicon.glyphicon-plane(aria-hidden='true')
              span SLE
    .panel.panel-default
      #headingThree.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree', class='glyphicon glyphicon-hand-right', aria-hidden='true')
            |  3A
      #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
        .panel-body
          ul.list-group
            li.list-group-item
              span.glyphicon.glyphicon-stats(aria-hidden='true')
              span MMIS
            li.list-group-item
              span.glyphicon.glyphicon-piggy-bank(aria-hidden='true')
              span IF
            li.list-group-item
              span.glyphicon.glyphicon-globe(aria-hidden='true')
              span ISSC
            li.list-group-item
              span.glyphicon.glyphicon-cloud(aria-hidden='true')
              span ISI
            li.list-group-item
              span.glyphicon.glyphicon-plane(aria-hidden='true')
              span SLE
