extends layout

block content
  div#matieres
    div.col-sm-6.col-sm-offset-3
      div.input-group.form-group
        input.form-control.search(type='text', placeholder='Recherchez une matière')
        span.input-group-btn
          button.btn
            i.glyphicon.glyphicon-search
    table.table.table-bordered
      thead
        tr
          th Année
          th Matières
      tbody.list
        each row in liste_matieres
          tr
            td #{row[1]}
            td.value #{row[0]}

block javascript
  script(src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js")
  script(src='/javascripts/filtre.js')
