body {
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #3498db;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 40px;
}

.header-title {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

.header-title > span {
  margin-right: 20px;
}
